footer {
    background: transparent;
    padding: 3.5rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.footer__copyright {
    margin-bottom: 1rem;
}

.footer__logo {
    position: absolute;
    right: 2.3rem;
    font-weight: 300;
    font-size: 2rem;
}

.footer__socials {
    font-size: 1.5rem;
}